In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
population_file = "../../resources/data/WPP2019_TotalPopulationBySex.csv"
population_df = pd.read_csv(population_file)
population_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

In [3]:
happiness_file = "../../resources/data/world-happiness-report-2021.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

### Transform premise DataFrame

In [4]:
# Create a filtered dataframe from specific columns
world_happiness_col = ["Country name", "Ladder score"]
world_happiness_transformed= happiness_df[world_happiness_col].copy()

# Rename the column headers
world_happiness_transformed = world_happiness_transformed.rename(columns={"Country name": "Country_name",
                                                          "Ladder score": "Ranking"})

# Clean the data by dropping duplicates and setting the index
world_happiness_transformed.drop_duplicates("Country_name", inplace=True)
#world_happiness_transformed.set_index("Country_name", inplace=True)

#Display the head of the df
world_happiness_transformed.head()

  Country_name  Ranking
0      Finland    7.842
1      Denmark    7.620
2  Switzerland    7.571
3      Iceland    7.554
4  Netherlands    7.464

In [5]:
#Droping any duplicated data
world_happiness_transformed = world_happiness_transformed.drop_duplicates(subset=['Country_name'])
len_=len(world_happiness_transformed)
print(f"The total countries in this data set is = {len_}")
world_happiness_transformed.head()

The total countries in this data set is = 149

  Country_name  Ranking
0      Finland    7.842
1      Denmark    7.620
2  Switzerland    7.571
3      Iceland    7.554
4  Netherlands    7.464

In [6]:
#Getting list of columns
list(world_happiness_transformed.columns)

['Country_name', 'Ranking']

In [7]:
#Getting the list of countries in the data set
names = world_happiness_transformed.Country_name
country_names = []
for i in names:
    country_names.append(i)
    
country_names

['Finland',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Netherlands',
 'Norway',
 'Sweden',
 'Luxembourg',
 'New Zealand',
 'Austria',
 'Australia',
 'Israel',
 'Germany',
 'Canada',
 'Ireland',
 'Costa Rica',
 'United Kingdom',
 'Czech Republic',
 'United States',
 'Belgium',
 'France',
 'Bahrain',
 'Malta',
 'Taiwan Province of China',
 'United Arab Emirates',
 'Saudi Arabia',
 'Spain',
 'Italy',
 'Slovenia',
 'Guatemala',
 'Uruguay',
 'Singapore',
 'Kosovo',
 'Slovakia',
 'Brazil',
 'Mexico',
 'Jamaica',
 'Lithuania',
 'Cyprus',
 'Estonia',
 'Panama',
 'Uzbekistan',
 'Chile',
 'Poland',
 'Kazakhstan',
 'Romania',
 'Kuwait',
 'Serbia',
 'El Salvador',
 'Mauritius',
 'Latvia',
 'Colombia',
 'Hungary',
 'Thailand',
 'Nicaragua',
 'Japan',
 'Argentina',
 'Portugal',
 'Honduras',
 'Croatia',
 'Philippines',
 'South Korea',
 'Peru',
 'Bosnia and Herzegovina',
 'Moldova',
 'Ecuador',
 'Kyrgyzstan',
 'Greece',
 'Bolivia',
 'Mongolia',
 'Paraguay',
 'Montenegro',
 'Dominican Republic',
 'North Cyprus',
 'Belarus',
 'Russia',
 'Hong Kong S.A.R. of China',
 'Tajikistan',
 'Vietnam',
 'Libya',
 'Malaysia',
 'Indonesia',
 'Congo (Brazzaville)',
 'China',
 'Ivory Coast',
 'Armenia',
 'Nepal',
 'Bulgaria',
 'Maldives',
 'Azerbaijan',
 'Cameroon',
 'Senegal',
 'Albania',
 'North Macedonia',
 'Ghana',
 'Niger',
 'Turkmenistan',
 'Gambia',
 'Benin',
 'Laos',
 'Bangladesh',
 'Guinea',
 'South Africa',
 'Turkey',
 'Pakistan',
 'Morocco',
 'Venezuela',
 'Georgia',
 'Algeria',
 'Ukraine',
 'Iraq',
 'Gabon',
 'Burkina Faso',
 'Cambodia',
 'Mozambique',
 'Nigeria',
 'Mali',
 'Iran',
 'Uganda',
 'Liberia',
 'Kenya',
 'Tunisia',
 'Lebanon',
 'Namibia',
 'Palestinian Territories',
 'Myanmar',
 'Jordan',
 'Chad',
 'Sri Lanka',
 'Swaziland',
 'Comoros',
 'Egypt',
 'Ethiopia',
 'Mauritania',
 'Madagascar',
 'Togo',
 'Zambia',
 'Sierra Leone',
 'India',
 'Burundi',
 'Yemen',
 'Tanzania',
 'Haiti',
 'Malawi',
 'Lesotho',
 'Botswana',
 'Rwanda',
 'Zimbabwe',
 'Afghanistan']

In [8]:
population_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

### Transforming the data from the population df

In [9]:
# Create a filtered dataframe from specific columns
population_col= ["Location", "Time","PopTotal", "PopDensity"]
population_transformed= population_df[population_col].copy()

# Rename the column headers
population_transformed = population_transformed.rename(columns={"Location": "Country_name",
                                                          "Time": "Year",
                                                          "PopTotal":"Total_Population",
                                                          "PopDensity" : "Population_Density"
                                                               })

# Clean the data by dropping duplicates and setting the index
#world_happiness_transformed.drop_duplicates("Country", inplace=True)
#world_happiness_transformed.set_index("Country", inplace=True)

#Display the head of the df
population_transformed.head()

  Country_name  Year  Total_Population  Population_Density
0  Afghanistan  1950          7752.117              11.874
1  Afghanistan  1951          7840.151              12.009
2  Afghanistan  1952          7935.996              12.156
3  Afghanistan  1953          8039.684              12.315
4  Afghanistan  1954          8151.316              12.486

In [10]:
#Filterning the population data by year specifically year 2019
population_2019 = population_transformed.Year == 2019
population_2019.head()

0    False
1    False
2    False
3    False
4    False
Name: Year, dtype: bool

In [11]:
#Getting the dataframe for only 2019 population results
population_2019_df = population_transformed[population_2019]
population_2019_df

,Country_name,Year,Total_Population,Population_Density
69,Afghanistan,2019,38041.757,58.269
953,Africa,2019,1308064.176,44.119
1837,African Group,2019,1306320.572,44.464
1988,African Union,2019,1306903.030,44.085
2139,African Union: Central Africa,2019,154013.705,29.192
...,...,...,...,...
277314,World,2019,7713468.205,59.291
278198,World Bank Regional Groups (developing only),2019,6452517.055,70.258
278349,Yemen,2019,29161.922,55.234
279233,Zambia,2019,17861.034,24.026
280117,Zimbabwe,2019,14645.473,37.858

In [12]:
#Filtering the data of populaiton df to match the country names in the world_happienss_df
final_pop_df = population_2019_df.loc[population_2019_df['Country_name'].isin(country_names)]
final_pop_df=final_pop_df.reset_index()
final_pop_df = final_pop_df.drop(columns='index')
final_pop_df.head()

  Country_name  Year  Total_Population  Population_Density
0  Afghanistan  2019         38041.757              58.269
1      Albania  2019          2880.913             105.143
2      Algeria  2019         43053.054              18.076
3    Argentina  2019         44780.675              16.363
4      Armenia  2019          2957.728             103.889

In [13]:
#Checking column names for the data frame 
list(final_pop_df.columns)

['Country_name', 'Year', 'Total_Population', 'Population_Density']

In [14]:
#checking the lenght of data set to see if they match
len(final_pop_df)

130

In [15]:
#checking the lenght of data set to see if the match
len(world_happiness_transformed)
#They dont match so world happiness has countrys that are not in the pop df so we need to filter the world happiness df to show only 130 countrys insted of 149

149

In [16]:
#Getting list of country_names in population df
#Getting the list of countries in the data set
pop_names = final_pop_df.Country_name
pop_country_names = []
for i in pop_names:
    pop_country_names.append(i)
    
pop_country_names

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [17]:
#Filtering the data of world happiness df to match the country names in the final_pop_df
final_happiness_df = world_happiness_transformed.loc[world_happiness_transformed['Country_name'].isin(pop_country_names)]

#Sorting values by country name, reseting the index of the country to match the other database and dropping extra column after reset index
final_happiness_df = final_happiness_df.sort_values('Country_name')
final_happiness_df = final_happiness_df.reset_index()
final_happiness_df = final_happiness_df.drop(columns='index')
final_happiness_df.head()

#Checking country with highest rank
#final_happiness_df.sort_values('Ranking', ascending = False).head()

  Country_name  Ranking
0  Afghanistan    2.523
1      Albania    5.117
2      Algeria    4.887
3    Argentina    5.929
4      Armenia    5.283

In [18]:
#Getting the column values for final df

list(final_happiness_df.columns)

['Country_name', 'Ranking']

In [19]:
#checking new length of happines data frame to see if it matches the pop data frame 
len_1 = len(final_happiness_df)
len_2 = len(final_pop_df)
print(f"The length of Happieness data set is = {len_1}")
print(f"The length of Population data set is = {len_2}")
#The lenghts match now!

The length of Happieness data set is = 130
The length of Population data set is = 130

In [20]:
#Merging the df to see if it worked using pandas in jupyterlab
merged_df = pd.merge(final_happiness_df , final_pop_df)
#merged_df = merged.drop(columns='index')
merged_df.head()

#Check for column names
#print(list(merged_df.columns))

  Country_name  Ranking  Year  Total_Population  Population_Density
0  Afghanistan    2.523  2019         38041.757              58.269
1      Albania    5.117  2019          2880.913             105.143
2      Algeria    4.887  2019         43053.054              18.076
3    Argentina    5.929  2019         44780.675              16.363
4      Armenia    5.283  2019          2957.728             103.889

### Create database connection

In [26]:
connection_string = "postgres:postgres@localhost:5432/world_happiness_db"
engine = create_engine(f'postgresql://{connection_string}')

In [27]:
# Confirm tables
engine.table_names()

['world_happiness', 'population']

### Load DataFrames into database

In [43]:
#final_pop_df = final_pop_df.set_index('Country_name')
list(final_pop_df)

['index', 'Country_name', 'Year', 'Total_Population', 'Population_Density']

In [21]:
#---------------------Need to work from here---------------------

In [47]:
final_pop_df.to_sql(name='population', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "level_0" of relation "population" does not exist
LINE 1: INSERT INTO population (level_0, index, "Country_name", "Yea...
                                ^

[SQL: INSERT INTO population (level_0, index, "Country_name", "Year", "Total_Population", "Population_Density") VALUES (%(level_0)s, %(index)s, %(Country_name)s, %(Year)s, %(Total_Population)s, %(Population_Density)s)]
[parameters: ({'level_0': 0, 'index': 69, 'Country_name': 'Afghanistan', 'Year': 2019, 'Total_Population': 38041.757000000005, 'Population_Density': 58.269}, {'level_0': 1, 'index': 3045, 'Country_name': 'Albania', 'Year': 2019, 'Total_Population': 2880.913, 'Population_Density': 105.14299999999999}, {'level_0': 2, 'index': 3929, 'Country_name': 'Algeria', 'Year': 2019, 'Total_Population': 43053.054000000004, 'Population_Density': 18.076}, {'level_0': 3, 'index': 9384, 'Country_name': 'Argentina', 'Year': 2019, 'Total_Population': 44780.675, 'Population_Density': 16.363}, {'level_0': 4, 'index': 10268, 'Country_name': 'Armenia', 'Year': 2019, 'Total_Population': 2957.728, 'Population_Density': 103.889}, {'level_0': 5, 'index': 13373, 'Country_name': 'Australia', 'Year': 2019, 'Total_Population': 25203.2, 'Population_Density': 3.281}, {'level_0': 6, 'index': 15141, 'Country_name': 'Austria', 'Year': 2019, 'Total_Population': 8955.108, 'Population_Density': 108.667}, {'level_0': 7, 'index': 16025, 'Country_name': 'Azerbaijan', 'Year': 2019, 'Total_Population': 10047.719000000001, 'Population_Density': 121.55799999999999}  ... displaying 10 of 130 total bound parameter sets ...  {'level_0': 128, 'index': 279233, 'Country_name': 'Zambia', 'Year': 2019, 'Total_Population': 17861.034, 'Population_Density': 24.026}, {'level_0': 129, 'index': 280117, 'Country_name': 'Zimbabwe', 'Year': 2019, 'Total_Population': 14645.473, 'Population_Density': 37.858000000000004})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [9]:
final_happiness_df.to_sql(name='world_happiness', con=engine, if_exists='append', index=True)