In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [4]:
population_file = "../../resources/data/WPP2019_TotalPopulationBySex.csv"
population_df = pd.read_csv(population_file)
population_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

In [5]:
happiness_file = "../../resources/data/world-happiness-report-2021.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

### Transform premise DataFrame

In [12]:
# Create a filtered dataframe from specific columns
world_happiness_col = ["Country name", "Ladder score"]
world_happiness_transformed= happiness_df[world_happiness_col].copy()

# Rename the column headers
world_happiness_transformed = world_happiness_transformed.rename(columns={"Country name": "Country_name",
                                                          "Ladder score": "Ranking"})

# Clean the data by dropping duplicates and setting the index
world_happiness_transformed.drop_duplicates("Country_name", inplace=True)
world_happiness_transformed.set_index("Country_name", inplace=True)

#Display the head of the df
world_happiness_transformed.head()

              Ranking
Country_name
Finland         7.842
Denmark         7.620
Switzerland     7.571
Iceland         7.554
Netherlands     7.464

In [10]:
population_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

### Transforming the data from the population df

In [16]:
# Create a filtered dataframe from specific columns
population_col= ["Location", "Time","PopTotal", "PopDensity"]
population_transformed= population_df[population_col].copy()

# Rename the column headers
population_transformed = population_transformed.rename(columns={"Location": "Country",
                                                          "Time": "Year",
                                                          "PopTotal":"Total_Population",
                                                          "PopDensity" : "Population_Density"
                                                               })

# Clean the data by dropping duplicates and setting the index
#world_happiness_transformed.drop_duplicates("Country", inplace=True)
#world_happiness_transformed.set_index("Country", inplace=True)

#Display the head of the df
population_transformed.head()

       Country  Year  Total_Population  Population_Density
0  Afghanistan  1950          7752.117              11.874
1  Afghanistan  1951          7840.151              12.009
2  Afghanistan  1952          7935.996              12.156
3  Afghanistan  1953          8039.684              12.315
4  Afghanistan  1954          8151.316              12.486

In [ ]:
#--------------------Below here we need to work on still--------------------------#

### Transform county DataFrame

In [5]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

    county_name  county_id  license_count
id
0        ALBANY          5             77
1      ALLEGANY         59              4
2         BRONX          0            104
3        BROOME         35             14
4   CATTARAUGUS         41              9

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['county', 'premise']

### Load DataFrames into database

In [8]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [9]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)